{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="get" action="{% url 'buscar_pelicula' %}">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">
                Search for Movie:
            </label>
            <input type="text" class="form-control" name="q" value="{{ query }}" placeholder="Enter your search">
        </div>
        <button type="submit" class="btn btn-primary">Recommend</button>
    </form>

    {% if resultados %}
        <h2>Search Results:</h2>
        <div class="card">
            <img src="{{ resultados.image.url }}" class="card-img-top" alt="..." style="max-width: 300px;">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{ resultados.title }}</h5>
                <p class="card-text">Description: {{ resultados.description }}</p>
                <p class="card-text">Genre: {{ resultados.genre }}</p>
                <p class="card-text">Year: {{ resultados.year }}</p>
            </div>
        </div>
    {% else %}
        <p>No results found for '{{ query }}'.</p>
    {% endif %}
</div>
{% endblock %}
